<main>
  <h1>Angular application using functional components to display product details by clicking a button</h3>
  <app-product-list></app-product-list>
  <hr>
  <hr>
  <section >
    <h1>Angular application to demonstrate different types of data binding</h1>
    <app-data-binding-demo></app-data-binding-demo>
  </section>
  <section>
    <h1>Angular application to demonstrate the communication between parent and child components</h1>
    <app-parent></app-parent>
  </section>
  <section>
    <app-footer></app-footer>
  </section>
</main>